{% extends 'base.html' %}
{% load static humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}

<p class="page-title">마이페이지</p>

<div class="frame-176">
    <img src="{% static 'images/moa_my.png' %}" alt="모아" class="moa_my">
    <div class="frame-175">
        <p class="hi-title">안녕, {{ nickname }}!</p>
        <p class="hi-text">오늘도 좋은 하루 보내세요</p>
    </div>
</div>

<div class="frame-125">
    <a href="{% url 'tournaments:record' %}" class="menu" id="record-menu">
        <div class="frame-124">
            <img src="{% static 'images/record_my.png' %}" alt="결과" class="menu_image">
            <div class="menu-line"></div>
            <p class="menu-text">모아컵<br>결과 보기</p>
        </div>
    </a>

    <a href="{% url 'items:storage' %}" class="menu" id="stroage-menu">
        <div class="frame-124">
            <img src="{% static 'images/stroage_my.png' %}" alt="리스트" class="menu_image">
            <div class="menu-line"></div>
            <p class="menu-text">보관함<br>리스트</p>
        </div>
    </a>

    <a href="{% url 'categories:current' %}" class="menu" id="current-menu">
        <div class="frame-124">
            <img src="{% static 'images/current_my.png' %}" alt="현황" class="menu_image">
            <div class="menu-line"></div>
            <p class="menu-text">보관함<br>현황보기</p>
        </div>
    </a>
</div>

<div class="frame-179">
    <div class="frame-178">
        <p class="cup-record">최근 모아컵 결과</p>
        <a href="{% url 'tournaments:record' %}" class="frame-177">
            <p class="see-all">전체 보기</p>
            <img src="{% static 'images/line-md_chevron-up.svg' %}" alt="see-btn">
        </a>
    </div>

    {% for result in recent_results %}
    <div class="product_content">
        <div class="Frame8">
            <div class="Frame7">
                <div class="Rectangle34"></div>
            </div>
            <div class="Frame5">
                <div class="Frame3">
                    <div class="Frame1">
                        <p>{{ result.winner_item.product_name }}</p>
                    </div>
                    <div class="Frame2">
                        <p>₩ {{ result.winner_item.price|intcomma }}</p>
                    </div>
                </div>
                <img src="{% static 'tournaments/images/image10.png' %}" alt="트로피" class="image10">
            </div>
        </div>
    </div>
    {% empty %}
    <p class="no-record">아직 모아컵 결과가 없어요</p>
    {% endfor %}
</div>

<div class="moa_talk">
    <div class="Frame37">
        <div class="Frame30">
            <img src="{% static 'images/clarity_talk-bubbles-solid.svg.png' %}" alt="말풍선" class="image11">
        </div>
        <div class="Frame36">
            <div class="Frame31">모아의 한마디</div>
            <div class="Frame32">다 담고 싶지만,<br>우선순위를 정하는 것도 중요한 소비 능력이야!</div>
        </div>
    </div>
</div>

<!-- Frame 195 -->
<div class="frame-195">
    <div class="frame-194">
        <div class="frame-193">
            <p>계정 관리</p>
            <div class="frame-192">
                <div class="frame-190">
                    <!-- material-symbols:logout-rounded icon -->
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                </div>
                <hr class="line-5">
                <div class="frame-188">
                    <!-- icon-park-outline:people icon -->
                    <a href="#">회원탈퇴</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
