.screen {
    background: linear-gradient(180deg, #FFF 0%, #43A4DB 100%);
}

.overlay {
    background: rgba(18, 18, 18, 0.40);
}

.head_text {
position: absolute;
top: 102px;
left: 64px;
width: 261px;
height: 154px;
display: flex;
flex-direction: column;
justify-content: center;

color: #FFF;
text-align: center;
text-shadow: 0 4px 20px rgba(150, 241, 255, 0.80);
font-family: "Gmarket Sans TTF";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
}

.title_text {
position: absolute;
top: 203px;
left: 73px;
width: 243px;
height: 76px;
display: flex;
flex-direction: column;
justify-content: center;

color: #FFF;
text-align: center;
text-shadow: 0 4px 20px rgba(150, 241, 255, 0.40);
-webkit-text-stroke-width: 0.8px;
-webkit-text-stroke-color: #FFF;
font-family: "Gmarket Sans TTF";
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.intro_text {
position: absolute;
top: 256px;
left: 64px;
width: 261px;
height: 154px;
display: flex;
flex-direction: column;
justify-content: center;

color: #FFF;
text-align: center;
text-shadow: 0 4px 20px rgba(150, 241, 255, 0.80);
font-family: "Gmarket Sans TTF";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px;
}

.moa_img {
position: absolute;
top: 412px;
left: 57px;
width: 276px;
height: 232px;
aspect-ratio: 69/58;
background: url('/static/images/image1.png') -0.06px 0px / 103.601% 100% no-repeat;
filter: drop-shadow(0 4px 30px #96F1FF);
}

.start_btn {
position: absolute;
top: 733px;
left: 42px;
display: flex;
justify-content: center;
align-items: center;
width: 307px;
height: 69px;

border-radius: 56px;
background: linear-gradient(180deg, rgba(150, 241, 255, 0.85) 0%, rgba(62, 154, 205, 0.85) 100%);
box-shadow: 0 4px 10px 0 #FFF, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
text-decoration: none;

color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
